body {
  
 
    background-image: url("/imagens/1026340.jpg");
      
     
    background-repeat: no-repeat;
      
     
    background-size: cover;
      
     
    background-attachment: fixed;
      
     
    color: #fff;
    }
    
    .container {
      
     
    max-width: 50%;
      
     
    margin: 0 auto;
    }